.login-content{
     text-align: center;
     margin-top:10%;
}
.login-content input{
     width: 300px;
     margin: auto;
}
.login-content label{
     font-weight: 500;
     text-transform: capitalize;
}