/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  overflow: hidden;
}
.container {
     padding: 20px;
     position: relative;
     padding-bottom: 100px;
   }
   
   .mat-checkbox-layout {
     display: inline !important;
   }
   
   .label-header {
     height: 13px;
   }
   
   .box {
     position: relative;
   }
   
   .box-tip-shown .box-tips {
     right: -20%;
     margin-right:-20px;
     padding-right: 0;
   }

   .red-snackbar{
        background-color: red;
        color: black;
   }
   .green-snackbar{
     background-color: green;
     color: black;
}

